<section class="vitamins" style="background-color: #1f1f23; color: white; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
   <div class="container">
    <img src="vitamins.jpg" class="vitaminsimg" alt="Vitaminokról készült kép">

    <h1 style="color: #91182b">A szervezetnek szükséges</h1>
    <h2>A különböző vitaminok és táplálékkiegészítők</h2>

    <hr>

    <p><strong style="color: lightblue">A vitaminoknak kétség kívül nélkülözhetetlen szerepük van a szervezet megfelelő működésében</strong>. Azonban fontos az megjegyezni, hogy nem mindegy, hogy miből mennyit, mikor és milyen formában juttatunk a szervezetükbe.</p>

    <p>Megkülönböztetünk <strong style="color: lightblue">vízben oldódó vitaminokat</strong> (B-vitamin és C-vitamin) és <strong style="color: lightblue">zsírban oldódó vitaminokat</strong> (A-, D- és E-vitamin). A lényegi eltérést az adja, hogy míg a zsírban oldódó vitaminok elraktározódnak a szerveretben, addig a vízben oldódó vitaminok csak rövid ideig tárolódnak, így az utánpólásra esetükben fokozottan figyelni kell.</p>

    <p>Ezeket a vitaminokat a természetes és egészséges táplálkozással érdemes bejuttatni a szervezetünkbe. Azonban kapszula formájában bármikor tudjuk kiegészíteni vagy pótolni a hiányzó vitaminokat.</p>

    <hr>

    <h3 style="color: #91182b">Melyek a legfontosabb vitaminok?</h3>

    <h4 style="color: green;">A-vitamin:</h4>
    <p><strong>Hozzájárul</strong> a normál látás fenntartásához, az immunrendszer normál működéséhez, a test sejtjeinek differenciálódásában, a bőr és a nyálkahártyák normál állapotának fenntartásához.</p>
    <p><strong>Miben található meg?</strong> A belsőségekekben (máj, vese, szív), a tojássárgájában, a halakban, különböző zöldségekben és gyümölcsökben.</p>
    <img style="max-width: 240px; max-height: 240px" src="kiwi.png" alt="Kép egy kiwiről, mint A-vitamint tartalmazó gyümölcs">

    <hr>

    <h4 style="color: orange;">D-vitamin:</h4>
    <p><strong>Hozzájárul</strong> a kalcium és a foszfor normál felszívódásához és hasznosulásához, a vér normál kalciumszintjének fenntartásához, az egészséges csontozat fenntartásához, az egészséges izomfunkció fenntartásához, a normál fogazat fenntartásában, az immunrendszer normál működéséhez.</p>
    <p><strong>Miben található meg?</strong> Halmájolajban, a májban, a tojásban és az egyéb tejtermékekben. A felsoroltak mellett egyébként a bőrünk napfény hatására is képes D‑vitamin előállítására (!)</p>
    <img style="max-width: 240px; max-height: 240px" src="nap.png" alt="Kép a napról, mint D-vitamint tartalmazó égitest">

    <hr>
    
    <h4 style="color: yellow">C-vitamin:</h4>
    <p><strong>Hozzájárul</strong> az immunrendszer normál működéséhez, a fáradtság és a kifáradás csökkentéséhez, a normál kollagénképződéshez és ezen keresztül az erek, csontozat, fogak, porcok, fogíny normál állapotának és/vagy működésének fenntartásához.</p>
    <p><strong>Miben található meg?</strong> Csipkebogyóban, paprikában, zöldségekben, gyümölcsökben.</p>
    <img style="max-width: 360px; max-height: 360px" src="citrom.png" alt="Kép egy citromról, mint C-vitamint tartalmazó gyümölcs">

    <hr>

    <h3 style="color: #91182b">Mik a táplálékkiegészítők? Melyik a legfontosabb?</h3>

    <br>

    <p>A táplálékkiegészítők célja, hogy kiegészítse az étrendünket, de ezek nem helyettesítik az egészséges napi étkezéseket. Ezek a termékek különböző vitaminokat, ásványi anyagokat, aminosavakat és koncentrátumokat tartalmaznak.</p>

    <p>Ilyen <strong style="color: lightblue">a protein, azaz a fehérje</strong>. Fontos kihangsúlyoznunk, hogy a fehérjebevitel alapvetően fontos, hogy szilárd ételekből történjen. Alapvetően nagyon jó állati (mint például a csirkehús) és növényi (mint például a földimogyoró) proteinforrások léteznek, ugyanakkor érdemes lehet kiegészíteni a napi fehérjebevitelünket egy italporral. Így tesznek a sportolók is.</p>

    <p>Az izmok épüléséhez szükséges alapanyagot így gyorsan és könnyedén tudják biztosítani a szervezet számára.</p>

    <img style="max-width: 360px; max-height: 240px" src="peanuts.png" alt="Kép több földimogyoróról, mint növényi eredetű proteinforrás">

    <hr>

    <p>Reméljük hasznosnak találtad ezt a rövid cikkünket a szerintünk legfontosabb vitaminokról és táplálékkiegészítőről! </p>

    <a routerLink="/freecontent" routerLinkActive="true" class="buttonstyle">Vissza az előző oldalra!</a>

    <p style="color: #91182b"><i>Felhasznált források:</i></p>

    <p>https://biotechusa.hu/blog/taplalek-kiegeszito-tippek/vitaminok/</p>
    <p>https://biotechusa.hu/blog/taplalek-kiegeszito-tippek/a-feherjeturmix-legfontosabb-hatasai/</p>
    <p>https://eletmodvaltasmost.com/mi-a-taplalekkiegeszito-es-miert-van-ra-szuksegunk/</p>
    <p>https://benu.hu/cikk/melyek-a-legjobb-feherjeforrasok-mutatjuk</p>
    <p>https://semmelweis.hu/egeszsegfejlesztes/2022/02/24/<br>vitaminok-etrend-kiegeszitok-az-egeszsegugyi-szakemberre-hallgassunk-ne-a-reklamokra-interju-dr-somogyi-orsolyaval-1-resz/</p>

  </div>
</section>
