.vitamins {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    color: #fff;
}

.vitaminsimg {
    max-width: 400px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-bottom: 15px;
}

.container {
    max-width: 850px;
    width: 100%;
}

.container div {
    font-size: 20px;
    margin: 40px;
}