.adminpanel {
  background-color: #1f1f23;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  font-size: 18px;
}

button {
  border: 4px solid #650707;
  background-color: #1f1f23;
  color: #fff;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 500;
  max-width: 200px;
  text-decoration: none;
}

.leaderboards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.leaderboard {
  width: 45%;
  min-width: 300px;
  padding: 20px;
  text-align: center;
}

.leaderboard h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

@media (max-width: 768px) {
  .leaderboard {
    width: 100%; /* Full width on smaller screens */
  }
}