/* oszlopdiagram stílusbeállítások */
.chart-container {
  max-width: 800px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.chart-container h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

canvas {
  width: 100%;
  max-width: 700px;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* statisztikai stílusbeállítások */

.stats {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #3c3c44;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
}