<img src="redlights.jpg" class="img-fluid" style="width: 100%; max-height: 55vh;" alt="LED fények">

<div class="signin" style="background-color: #1f1f23; color: white; min-height: 50vh; display: flex; flex-direction: column;">
    <div>
        <h1>Bejelentkezés</h1>
        <hr>
        <p>Jelentkezzen be az oldalunkon, hogy elérje azokat a tartalmakat, amelyekhez <strong>kizárólagosan csak</strong> regisztrált és bejelentkezett felhasználók férhetnek hozzá!</p>
    </div>

    <div></div>
    
</div>