<section class="contact" style="background-color: #1f1f23; color: white; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="container">
      <img src="gym1.jpg" class="gym" alt="konditerem kép">
         <div>
            <h3>Kapcsolat</h3>
            <hr>
            <p>Ha szeretnél velünk, a HeBLE csapatával kapcsolatba lépni és segítséget kérni valamiben vagy esetlegesen te szeretnél számunkra tanácsot adni abban, hogy mi miben fejlődjünk, netán a véleményedet szeretnéd kifejteni akkor írj nekünk egy emailt bártan!<br>
            <i>Az alábbi email címen léphetsz velünk kapcsolatba</i></p>

            <p class="email">HeBLEstrength&#64;gmail.com</p>

            <p>Megtalálhatsz minket a különböző közösségi oldalakon is!</p>


         </div>
    </div>
</section>
