/* alap stílusbeállítások */
.contact {
  background-color: #1f1f23;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
}

.container {
  max-width: 800px;
  width: 100%;
}

.container div {
  font-size: 22px;
  margin: 10px;
}

/* kép stílusbeállításai */
.gym {
  max-width: 450px;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 10px;
}

img:hover {
  transform: translateY(-5px);
}

/* email-cím és elérhetégeink stílusbeállításai */
.email {
  border: 5px solid #650707;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  background-color: #91182b;
  color: #fff;
}

.email:hover {
  transform: translateY(-5px);
}

h1 {
  color: #91182b;
}

svg:hover {
  color: #91182b;
}
