<!-- A következő png teljesen reszponzívan igazodík a képernyőhöz-->
<img src="redlights.jpg" class="img-fluid" style="width: 100%; max-height: 55vh;" alt="LED fények">

<div class="content">
    <!-- Ingyenes tartalmak szöveg-->
    <div>
        <h1 style="color: #91182b"> HeBLE ingyenes tartalmai </h1>
        <hr>
        <p>Az oldalunkon találhatsz ingyenes tartalmakat, amelyeket <i>regisztráció nélkül</i> elolvashatsz. <br> Ezeket elsősorban az egészséges életmód világába újonnan csatlakozók számámra írtuk. <br> Ettől függetlenül mindenki tanulhat belőle új dolgot.</p>
        <span class="placeholder col-12 bg-danger" style="cursor: default;"></span>
    </div>

    <!-- Bootstrap card-ok az ingyenes tartalmakhoz különböző témákban elérhető cikkek -->
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="healthyfood.jpg" class="card-img-top" alt="Kép egészséges ételekről">
            <div class="card-body">
                <h5 class="card-title">A szervezet energiaforrásai</h5>
                <p class="card-text">Tudd meg, melyek a legfontosabb vitaminok!</p>
                <a routerLink="/contentvitamins" routerLinkActive="true" class="buttonstyle">Az olvasáshoz kattints ide</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="sleeping.jpg" class="card-img-top" alt="Kép az alvásról">
            <div class="card-body">
                <h5 class="card-title">Az alvás fontossága</h5>
                <p class="card-text">Mindennek az alapja, nem elhanyagolható az alvás és annak fontossága.</p>
                <a routerLink="/contentsleeping" routerLinkActive="true" class="buttonstyle">Az olvasáshoz kattints ide</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="yoga2.jpg" class="card-img-top" alt="Kép a kardióról">
            <div class="card-body">
                <h5 class="card-title">Edzéstípusok és hatékonyságuk</h5>
                <p class="card-text">Tedd meg az első lépést az egészségesebb életért!</p>
                <a routerLink="/contentworkouttypes" routerLinkActive="true" class="buttonstyle">Az olvasáshoz kattints ide</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="workoutplace.jpg" class="card-img-top" alt="Kép egy edzőteremről">
            <div class="card-body">
                <h5 class="card-title">Csináljuk helyesen</h5>
                <p class="card-text">Sokan nem is tudják, hogy mennyire fontos a bemelegítés és a nyújtás.</p>
                <a routerLink="/contentworkout" routerLinkActive="true" class="buttonstyle">Az olvasáshoz kattints ide</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="hydration.jpg" class="card-img-top" alt="Kép valamiről">
            <div class="card-body">
                <h5 class="card-title">Mit is igyunk?</h5>
                <p class="card-text">A hidtratálás és annak fontossága. Mit is igyunk? Mi az ami egészséges?</p>
                <a routerLink="/contenthydration" routerLinkActive="true" class="buttonstyle">Az olvasáshoz kattints ide</a>
            </div>
        </div>
    </div>
</div>