<section class="about" style="background-color: #1f1f23; color: white; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="container">
         <div>
            <h3>Rólunk</h3>
            <hr>
            <p>A csapatunk számára rendkívül fontos az egészséges életmód és a testmozgás. Ez motivált minket arra, hogy létrehozzuk a HeBLE-t. <strong> Mit is jelent a HeBLE? </strong> Az angol szavakból álló rövídtés felbontása a következőket jelenti: <i>Healthy Body</i>, mint egészséges test, <i>Lifestyle</i>, mint életmód és E, mint <i>Entertainment</i>, azaz szórakoztatás. 
                Tehát pont azt, amit nyújtani szeretnénk a felhasználóinknak.
         </div>
         <div>
            <h3>Célunk</h3>
            <hr>
            <p>A HeBLE célja tehát az emberek motiválása a testmozgásra szórakoztató, izgalmas megoldásokkal ötvözve. <strong> Ez hogyan is működik? </strong> A felhasználók mindennap különböző mozgási feladatokat kapnak, amelyek idővel nehezebbek lesznek. Az elvégzésükért pontokat kapnak, amelyekkel szintet léphetnek. Különböző teljesítményeket és jutalmakat oldhatnak fel a felhasználók, ezzel is motiválva őket a mindennapokban</p>
         </div>

         <div>
            <h3>Csatlakozz!</h3>
            <hr>
            <p>Ha meggyőztünk a rövid bemutatkozásunkkal akkor regisztrálj és próbáld ki! Érj el feljődést és változtatsd meg az életed a HeBLE-vel!</p>
         </div> 
    </div>
</section>
