.about {
  background-color: #1f1f23;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
}

.container {
  max-width: 800px;
  width: 100%;
}

.container div {
  font-size: 22px;
  margin: 10px;
}

.gym {
  max-width: 550px;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 10px;
}

h1 {
  color: #91182b;
}

img:hover {
  transform: translateY(-5px);
}
