<h1>Achievementek (Teljesítmények)</h1>
<hr>

<!--  Új achievement hozzáadása -->
<form class="form">
  <h3>Achievement (Teljesítmények) hozzáadása</h3>
  <hr>
  <div class="form-group">
    <label>Achievement neve:</label><br>
    <input #achievementName type="text" id="achievementName" placeholder="Achievement neve" class="form-field" autocomplete="off"/><br>
  </div>

  <div class="form-group">
    <label>Achievement leírása:</label><br>
    <textarea #achievementDescription id="achievementDescription" placeholder="Achievement leírása" class="form-field" autocomplete="off"></textarea><br>
  </div>

  <div class="form-group">
    <label>Elvárt fekvőtámaszok:</label><br>
    <input #pushUpsRequired type="number" id="pushUpsRequired" placeholder="0" class="form-field" autocomplete="off"/><br>
  </div>

  <div class="form-group">
    <label>Elvárt húzódzkodások:</label><br>
    <input #pullUpsRequired type="number" id="pullUpsRequired" placeholder="0" class="form-field" autocomplete="off"/><br>
  </div>

  <div class="form-group">
    <label>Elvárt felülések:</label><br>
    <input #sitUpsRequired type="number" id="sitUpsRequired" placeholder="0" class="form-field" autocomplete="off"/><br>
  </div>

  <div class="form-group">
    <label>Elvárt guggolások:</label><br>
    <input #squatsRequired type="number" id="squatsRequired" placeholder="0" class="form-field" autocomplete="off"/><br>
  </div>

  <div class="form-group">
    <label>Elvárt futásmennyiség (km-ben):</label><br>
    <input #runningRequired type="number" id="runningRequired" placeholder="0" class="form-field" autocomplete="off"/><br>
  </div>

  <button type="submit" class="buttonstyle" (click)="addAchievement(achievementName.value, achievementDescription.value, pushUpsRequired.valueAsNumber, pullUpsRequired.valueAsNumber, sitUpsRequired.valueAsNumber, squatsRequired.valueAsNumber, runningRequired.valueAsNumber)">
    Achievement hozzáadása
  </button>
</form>

<!-- Achievement frissítése -->
<form class="form">
  <h3>Achievement (Teljesítmények) frissítése</h3>
  <hr>
  <div class="form-group">
    <label for="achievementId">Achievement ID:</label> <br>
    <input min="0" type="number" id="achievementId" #achievementId placeholder="Achievement ID"/> <br>
  </div>
  <div class="form-group">
    <label for="updateAchievementName">Achievement neve:</label> <br>
    <input type="text" id="updateAchievementName" #updateAchievementName placeholder="Achievement neve"/> <br>
  </div>
  <div class="form-group">
    <label for="updateAchievementDescription">Achievement leírása:</label> <br>
    <textarea id="updateAchievementDescription" #updateAchievementDescription placeholder="Achievement leírása" ></textarea> <br>
  </div>
  <div class="form-group">
    <label for="updatePushUpsRequired">Szükséges fekvőtámaszok:</label> <br>
    <input min="0" type="number" id="updatePushUpsRequired" #updatePushUpsRequired placeholder="0"/> <br>
  </div>
  <div class="form-group">
    <label for="updatePullUpsRequired">Szükséges húzódzkodások:</label> <br>
    <input min="0" type="number" id="updatePullUpsRequired" #updatePullUpsRequired placeholder="0"/> <br>
  </div>
  <div class="form-group">
    <label for="updateSitUpsRequired">Szükséges felülések:</label> <br>
    <input min="0" type="number" id="updateSitUpsRequired" #updateSitUpsRequired placeholder="0"/> <br>
  </div>
  <div class="form-group">
    <label for="updateSquatsRequired">Szükséges guggolások:</label> <br>
    <input min="0" type="number" id="updateSquatsRequired" #updateSquatsRequired placeholder="0"/> <br>
  </div>
  <div class="form-group">
    <label for="updateRunningRequired">Szükséges futás (km-ben):</label> <br>
    <input min="0" type="number" id="updateRunningRequired" #updateRunningRequired placeholder="0"/> <br>
  </div>
  <button type="submit" class="buttonstyle" (click)="updateAchievement(+achievementId.value, updateAchievementName.value, updateAchievementDescription.value, +updatePushUpsRequired.value, +updatePullUpsRequired.value, +updateSitUpsRequired.value, +updateSquatsRequired.value, +updateRunningRequired.value)">
    Achievement frissítése
  </button>

</form>