<section class="workouttypes">
    <div class="container">
        <img src="" class="customimg" alt="Kép a kardióról">

        <h1 style="color: #91182b">Edzéstípusok és hatékonyságuk</h1>
        <h2>Válaszd ki a számodra megfelelő edzéstípust! Tedd meg az első lépést még ma!</h2>

        <hr>

        <hr>

        <p>Reméljük hasznosnak találtad ezt a rövid cikkünket az edzésttípusokról és azok hatékonyságáról! </p>

        <a routerLink="/freecontent" routerLinkActive="true" class="buttonstyle">Vissza az előző oldalra!</a>

        <p style="color: #91182b"><i>Felhasznált források:</i></p>

        <p>https://www.intenset.hu/blog/nyujtas-es-bemelegites-gyakorlatok/</p>
    </div>
</section>
