<section class="workouttypes">
    <div class="container">
        <img src="yoga2.jpg" class="customimg" alt="Kép arról, hogy egy hölgy jógázik">

        <h1 style="color: #91182b">Edzéstípusok és hatékonyságuk</h1>
        <h2>Válaszd ki a számodra megfelelő edzéstípust! Tedd meg az első lépést még ma!</h2>

        <hr>

        <p>Mindenki sajátos testalkattal rendelkezik, így logikus az, hogy mindenki mást próbál elérni az edzéseivel. Vannak, akik rugalmasságukat szeretnék fejleszteni, míg mások fogyni vágynak, vagy éppen izmosodni.Ezért fontos kiválasztanod, hogy milyen edzésformát alkalmazol.</p>

        <hr>

        <h3 style="color: #91182b">Eltérő eredmények</h3>

        <p>Számtalan módon erősítheti és mozghatja meg a testét az ember. Minden edzésforma sajátos gyakorlatokat foglal magába, amelyek a test különböző izmait dolgoztatják meg, ezért mutatnak más eredményeket is.</p>
        <p>Ha rendszeresen csinálod és fokozozatosan egyre nagyobb terhelést fejtesz ki az izmaidra, akkor a tested alakja idővel megváltozik majd. A kitűzött célok elérése érdekében tehát fontos tudni, hogy mihez milyen gyakorlatokat érdemes elvégezni, melyekből lehet a tökéletes rutin.</p>
        <p>Az, hogy melyik edzéstípus lesz számodra a megfelelő, az azon múlik, hogy milyen eredményt is kívánsz elérni. Bemutatjuk az alábbiakban a leggyakoribb célokat és, hogy lehet elérni azokat.</p>

        <hr>

        <h3 style="color: #91182b">Edzéstípusok</h3>

        <p><strong style="color: #91182b">Ha rugalmasabbá szeretne válni</strong> akkor a nyújtáson, mint alapvető testmozgató rutinon túl kell gondolkodnunk. Erre a legtökéletesebb edzésforma a jóga.</p>
        <p>A jóga nem csak az izmokat, hanem az ízületeket is megnyújtóztatja. A jóganyújtások segítenek elkerülni az izomfájdalmat, és serkentik az izmok gyógyulását két megterhelőbb edzés között. A jóga ráadásul egy igencsak költséghatékony módszer, hiszen az egyetlen amire szükséged lesz hozzá, az egy tornaszőnyeg. Ez biztonságos alátámasztást és kényelmes edzést biztosít minden felületen!</p>

        <img src="yoga.jpg" class="customimg" alt="Kép arról, hogy egy hölgy jógázik">

        <p><strong style="color: #91182b">Ha izmosabb karokra vágysz</strong>, akkor alapvető feltétele a rendszerés edzés. Különböző kutatási eredmények alapján egyértelműen a háromszöges fekvőtámasz a nyerő, ugyanis azok a tricepsz izom minden fontosabb részét megcélozzák. A karizmok erősítésére nagyon hatékony módszer még a súlyzós edzések. Ezekkel változatos terhelést gyakorolhatunk a karizmokra, így mindig az edzettségi szintnek megfelelő súlyt választhatjuk.</p>

        <img src="dumbell.png" class="customimg" alt="Kép arról, hogy egy férfi súlyzos edzést végez">

        <p><strong style="color: #91182b">Ha a core izmaidat kívánod erősíteni</strong>, ezek alatt a központi izmokra, tehát a hasizmok, hátizmok és a medencét körülvevő izmok erősítéséről beszélünk. A core izmok erősítését a kettlebell-lel, azaz gömbsúlyzokkal végzett gyakorlatok rendkívül jól erősítik a központ izomzatot.</p>        
        <p>A pilates edzések egyik legalapvetőbb része a core izmok mozgatása. A pilates gyakorlatok során egy helyben kell tartanod a törzsedet, miközben végtagjaidat különböző irányokban mozgatod, ez fejleszti az egyensúlyérzéket, stabilabbá és rugalmasabbá tesz, és erősíti a core izmokat is.  A core izmok erősítésére a különböző plank gyakorlatok a legideálisabbak, amik a karok izmait is erősítik. A fordított hasprést is érdemes felvenni az edzéstervedbe, ami a testtartást is javítja. Ha van azonban valami, amivel igazán megdolgoztathatod azokat a core izmokat, akkor az a váltott lábas lábemelés.</p>

        <img src="pilates.jpg" class="customimg" alt="Kép arról, hogy egy hölgyről, aki pilatesezik">

        <p><strong style="color: #91182b">Ha eleged van a zsírból</strong>, akkor bizony a rövid, de nagyon intenzív gyakorlatsorozatok a leghatékonyabbak, ha szeretnéd leadni az extra kilókat és kalóriákat. A hosszú, lassabb ütemű kardióedzésekkel ellentétben az igazán intenzív edzések még a befejezésük után is folytatják a kalóriák égetését. Ezek az úgynevezett HIIT edzések (azaz intenzív intervallumedzések) továbbá nem csak több kalóriától segítenek megszabadulni, mint a kardiózás és más lassabb edzésformák, hanem a zsírégetését is serkentik.</p>
        <p>Ilyen intenzív intervallumedzésnek számít a sprintelés is. A sérülések elkerülése érdekében ügyelj rá, hogy rövidebb távokat sprintelj le, egyszerre ne többet 45 méternél.  Ha szeretnéd még hatékonyabbá tenni a sprinteléseidet az ismétlések (sprintelések) számát növeld, és ne az egyszerre lefutott távot. Az intenzív zsírégetéshez azonban nem muszáj sprintelned, akár kerékpározhatsz is.</p>        
        
        <img src="cycling.jpg" class="customimg" alt="Kép arról, hogy bicikliznek">
        
        <hr>

        <p>Reméljük hasznosnak találtad ezt a rövid cikkünket az edzésttípusokról és azok hatékonyságáról! </p>

        <a routerLink="/freecontent" routerLinkActive="true" class="buttonstyle">Vissza az előző oldalra!</a>
        
        <p style="color: #91182b"><i>Felhasznált források:</i></p>

        <p>https://www.capetansport.hu/edzestipusok-es-hatakonysaguk</p>
    </div>
</section>
