<!-- A következő png teljesen reszponzívan igazodík a képernyőhöz-->
<img src="redlights.jpg" class="img-fluid" style="width: 100%; max-height: 55vh;" alt="LED fények">

<div class="home" style="background-color: #1f1f23; color: white; min-height: 50vh; display: flex; flex-direction: column;">
  <!-- Vélemények szöveg -->
    <div>
      <h1>Vélemények</h1>
      <hr>
      <p>Itt olvashatjátok a rólunk megírt véleményeket!</p>
    </div>

    <!-- Vélemények kártyák, teljesen reszponzívak Bootsrap segítségével. -->
    <div class="row justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Dakos Bence</h4>
          <img src="markopened.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: left;">
          <p class="card-text">A HeBLE nagyon sokat segített a céljaim elérésében, rendkívül szórakoztató és változatos! A pontrendszerrel és a szintezéssel tényleg olyan, mint egy videójáték. Bátran tudom ajánlani, hogy próbáljátok ki ti is! </p>
          <img src="markclosed.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: right;">
        </div>
      </div>
    

     <div class="card" style="width: 18rem;">
       <div class="card-body">
          <h4 class="card-title">Fodor Gergő</h4>
          <img src="markopened.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: left;">
          <p class="card-text">Teljesen megváltozott a hozzáállásom az edzéshez, amióta kipróbáltam a HeBLE-t. Kezdetben minden feladatot könnyen meg tudtam csinálni, de ahogy fejlődtem, úgy a feladatok is nehezebbek lettek, ami nagyszerű. </p>
          <img src="markclosed.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: right;">
        </div>
      </div>
    

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Sedlák Patrik</h4>
          <img src="markopened.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: left;">
          <p class="card-text">Nem hittem volna, hogy ennyire tetszeni fog a HeBle, illetve azt sem képzeltem volna, hogy ennyit tud segíteni a céljaim elérésében. Mindenkinek csak ajánlani tudom, hogy próbálja ki, és érjen el vele fejlődést. </p>
          <img src="markclosed.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: right;">
        </div>
      </div>
    </div>
    
  
</div>

