<div style="background-color: #1f1f23; color: white; min-height: 100vh; display: flex; flex-direction: column;">

    <img src="redlights.jpg" class="img-fluid" style="width: 100%; max-height: 70vh;" alt="LED fények">

    <div class="text-center my-5">
        <h1>Vélemények</h1>
      </div>
  
  
      <div class="container flex-grow-1">
        <div class="row g-4 justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Dakos Bence</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
    
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Fodor Gergő</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
    
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Sedlák Patrik</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
    
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Köröskényi István</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
    
      </div>
</div>
