.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    color: #fff;
}

.card {
    min-height: 400px;
    max-height: 400px;
    margin: 20px;
    border: 5px solid #650707;
    background-color: #91182b;
    color: white;
    box-sizing: border-box;
    overflow: auto;
}

.card-text {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.markright, .markleft {
    max-width: 40px;
    max-height: 40px;
}

.markright {
    float: right;
}

.markleft {
    float: left;
}