<div style="background-color: #1f1f23; color: white; min-height: 100vh; display: flex; flex-direction: column;">
<!-- A következő png teljesen reszponzívan igazodík a képernyőhöz-->
    <img src="redlights.jpg" class="img-fluid" style="width: 100%; max-height: 55vh;" alt="LED fények">

<!-- Vélemények szöveg -->
    <div class="text-center my-5">
        <h1>Vélemények</h1>
      </div>
  
<!-- Vélemények kártyák, teljesen reszponzívak Bootsrap segítségével. -->
      <div class="container flex-grow-1">
        <div class="row g-4 justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Dakos Bence</h4>
                <img src="markopened.png" alt="jelek" style="max-width: 40px; max-height: 40px;">
                <p class="card-text">A HeBLE nagyon sokat segített a céljaim elérésében, rendkívül szórakoztató és változatos! A pontrendszerrel és a szintezéssel tényleg olyan, mint egy videójáték. Bátran tudom ajánlani, hogy próbáljátok ki ti is! </p>
                <img src="markclosed.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: right;">
              </div>
            </div>
          </div>
    
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Fodor Gergő</h4>
                <img src="markopened.png" alt="jelek" style="max-width: 40px; max-height: 40px;">
                <p class="card-text">A HeBLE nagyon sokat segített a céljaim elérésében, rendkívül szórakoztató és változatos! A pontrendszerrel és a szintezéssel tényleg olyan, mint egy videójáték. Bátran tudom ajánlani, hogy próbáljátok ki ti is!</p>
                <img src="markclosed.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: right;">
              </div>
            </div>
          </div>
    
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Sedlák Patrik</h4>
                <img src="markopened.png" alt="jelek" style="max-width: 40px; max-height: 40px;">
                <p class="card-text">A HeBLE nagyon sokat segített a céljaim elérésében, rendkívül szórakoztató és változatos! A pontrendszerrel és a szintezéssel tényleg olyan, mint egy videójáték. Bátran tudom ajánlani, hogy próbáljátok ki ti is!</p>
                <img src="markclosed.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: right;">
              </div>
            </div>
          </div>
    
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Fodor Gergő</h4>
                <img src="markopened.png" alt="jelek" style="max-width: 40px; max-height: 40px;">
                <p class="card-text">A HeBLE nagyon sokat segített a céljaim elérésében, rendkívül szórakoztató és változatos! A pontrendszerrel és a szintezéssel tényleg olyan, mint egy videójáték. Bátran tudom ajánlani, hogy próbáljátok ki ti is!</p>
                <img src="markclosed.png" alt="jelek" style="max-width: 40px; max-height: 40px; float: right;">
              </div>
            </div>
          </div>
    
      </div>
</div>
