img {
    transition: transform .7s ease-in-out;
}
  
img:hover {
    transform: rotate(360deg);
}

.navbar-toggler {
    background-color: rgb(113, 121, 129);
}

li:hover{
  background-color: rgb(113, 121, 129);
  border-radius: 20px;
}

