<!-- Bootstrap navbar komponens, teljesen reszponzív -->
<nav class="navbar navbar-expand-lg" style="background-color: #3c3c44; padding: 10px 30px;">

  <!-- Logó (kép)-->
  <a class="navbar-brand" routerLink="/home" routerLinkActive="true" style="margin-right: 20px;">
    <img src="PROJECTLOGO.png" alt="Logo" style="height: 75px; margin-right: 40px;">
  </a>

  <!-- "Összecsúkható gomb", kisebb képernyőkön az elrendezést és a megjelenést segíti -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navigációs menü tartalma -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">

    <!-- Ha a felhasználó nincs bejelentkezve akkor a következőket látja: Edzés és Teljesítmények nem elérhető (bejelentkezéshez kötött), Ingyenes tartalmak és Bejelentkezés -->
      <ul *ngIf="!userService.loggedIn()" class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/coachingoff" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Edzés</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/achievementsoff" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Teljesítmények</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/freecontent" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Ingyenes tartalmak</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Bejelentkezés</a>
        </li>

      </ul>

    <!-- Ha a felhasználó bejelentkezett, akkor a következő látja: Edzés, Teljesítmények, Ingyenes tartalmak, Profil, Kijelentkezés -->
      <ul *ngIf="userService.loggedIn()" class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/coaching" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Edzés</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/achievements" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Teljesítmények</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/freecontent" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Ingyenes tartalmak</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/userprofile" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Profil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="SignOut()" style="margin: 10px; font-size: 22px; font-weight: 600; color: white; cursor: pointer;">Kijelentkezés</a>
        </li>

      </ul>

    <!-- Ha az bejelentkezett felhasználó szerepköre admin, akkor az Admin panel is elérhetővé válik az eddigiek mellett -->
      <ul *ngIf="userService.getRole() == 'admin'" class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/adminpanel" routerLinkActive="true" style="margin: 10px; font-size: 22px; font-weight: 600; color: white;">Admin panel</a>
        </li>

      </ul>
      
    </ul>
  </div>

</nav>