<section class="hydration">
    <div class="container">
        <img src="hydration.jpg" class="customimg" alt="Kép a testünk folyadékmennyiség arányáról">

        <h1 style="color: #91182b">Mit is igyunk?</h1>
        <h2>A hidtratálás és annak fontossága. Mit is igyunk? Mi az ami egészséges?</h2>

        <hr>

        <p>A hidratációval kapcsolatban az emberekben általában több kérdés merül fel, hogy <strong style="color: lightblue">hogy mit és ne igyanak? Hogy miből mennyit érdemes fogyasztani? Illetve, hogy ez miért is ilyen fontos?</strong></p>
        <p>Nagyon fontos kérdések ezek, érdemes először is átgondolnunk azt, hogy egy felnőtt ember <strong style="color: lightblue">testtömegének mintegy 60-70% víz</strong>. Így szerintem érhető, hogy miért létfontosságú a rendszeres folyadékfogyasztásra figyelnünk.</p>
        <p>Így tehát a teljesítményünket nagymértékben befolyásolja az is, hogy mennyire vagyunk hidratáltak, amikor testmozgásba kezdünk.</p>

        <hr>

        <h3 style="color: #91182b">Hidratáció jelentősése</h3>

        <p>Ha hidratált állaptoban vagyunk, nagyobb a folyadék tartalék akkor van amiből veszíthetünk, mintsem akkor amikor dehidratáltan kezdünk ki a sportolásnak.</p>
        <p><strong style="color: lightblue">Ha bőségesen hidratáltan kezdünk a sportolásnak, annak számos előnyei vannak</strong>. Az optimális hidratáció maximalizálja a vérmennyiséget, elősegítve az általános szív- és érrendszer működését, valamit a dolgozó izmok által termelt hő eloszlatásának képességét, ez csökkenti a fáradtságot, és lehetővé teszi a teljesítmény hosszabb ideig való fenntartását.</p>

        <img style="max-width: 240px; max-height: 240px;" src="water.png" alt="Kép egy palack vízről">

        <hr>

        <h3 style="color: #91182b;">Folyadákpótlás</h3>

        <p>A folyadék pótlásának legideálisabb forrása <strong style="color: lightblue">a víz, ugyanis energiamentes, könnyen hozzáférhető, így fogyasztásával kiegyensúlyozottan és hatékonyan pótoljuk a szükséges folyadékmennyiséget.</strong></p>  
        <p>Az, hogy mennyi folyadékra van szükségünk az több dolog befolyásolja. Függ az életkortól, a testömegtől, az egészségi állapottól, az időjárástól, illetve a fizikai igénybevéltől. Az Európai Élelmiszerbitonsági Hatóság ajánlása alapján <strong style="color: lightblue">közepes hőmérsékletnél és mérsékelt fizikai aktivitásnál egy felnőtt nőnek 2 liter, a fériaknak 2,5 liter vízre van szükségük. Míg a 4-14 éves gyermekeknek 1,6-2,1 liternyi mennyiségre életkorúktól függően.</strong></p>
        <p>Természetesen fizikai megerőltetés esetén, hőségben, különleges esetekben akár 2-3-szorozásra is növekedhet a folyadékszükségletünk, így ilyen esetekben különösen oda kell figyelnünk a folyadékpótlásra. </p>

        <hr>

        <h3 style="color: #91182b;">Mit ihatunk még?</h3>

        <p>A változatosság és mérsékletességet szem előtt tarva a napi 1-1 pohár 100%-os gyümölcsé, a tej, a kakaó, a kávé és egyéb ízesített vizek, mint a limonádé is beilleszthető a napi fogyasztásunkba. </p>
      
        <img style="max-width: 160px; max-height: 130px;" src="milkcarton.png" alt="Kép egy rajzolt doboz tejről">
        <img style="max-width: 120px; max-height: 160px;" src="coffeecup.png" alt="Kép egy rajzolt pohár kávéról">
        <img style="max-width: 160px; max-height: 150px;" src="softdrinks.png" alt="Kép többféle cukor üdítőről">

        <p>A tej a szervezet számára nélkülünözhetetlen tápanyagokat tartalmaz. Különöző fehérjéket, szénhidrátokat, zsírokat, vitaminoakt és ásványi anyagokat (kálium, kalcium, magnezium) </p>
        <p>A kávé élénkítő hatását, a koffeinnek köszönhetően mindenki ismeri. Sokan ezzel indítják a napukat és energiát ad nekik. Azonban fontos kihangsúlyozni, hogy nem szabad túlzásba esni, mivel számos negatív hatása lehet a túlzott kávé fogyasztásnak.</p>   
        <p>A cukor üdítők fogyasztása világszerte és hazánkban is igen magas. Ezen üdítők káros hatásairól rengeteket olvashatunk és hallhatunk. A túlzott cukor- és kalóriabevitel mellett különböző egészségügyi problémák kialakulásához is vezethet (például cukorbetegség). Ezért ezeket lehetőség szerint próbáluk meg elkerülni teljesen.</p>
        
        <hr>

        <p>Reméljük hasznosnak találtad ezt a rövid cikkünket a hidratálásról és annak fontosságáról!</p>

        <!-- ingyenes tartalmakhoz navigálás -->
        <a routerLink="/freecontent" routerLinkActive="true" class="buttonstyle">Vissza az előző oldalra!</a>

        <!-- források megjelölése -->
        <p style="color: #91182b"><i>Felhasznált források:</i></p>

        <p>https://www.simplesport.hu/hidratacio/</p>
        <p>https://www.webbeteg.hu/cikkek/<br>egeszsegedre/17512/hidratacio</p>
        <p>https://www.webbeteg.hu/cikkek/<br>egeszseges/21708/tej-es-tejtermekfogyasztas</p>
        <p>https://www.webbeteg.hu/cikkek/<br>egeszseges/20181/tudomanyos-tenyek-a-kavefogyasztasrol</p>
        <p>https://www.hazipatika.com/taplalkozas/<br>egeszseg_es_asztronomia/cikkek/a_cukros_<br>uditok_sokfele_betegseget_okozhatnak</p>

    </div>
</section>