<div class="card text-center">
    <div class="card-body">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
        <a href="#" class="btn btn-primary mx-3 mb-2 mb-md-0">Rólunk</a>
        <img src="PROJECTBANNER.png" alt="Banner" class="img-fluid mx-3">
        <a href="#" class="btn btn-primary mx-3 mb-2 mb-md-0">Kapcsolat</a>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <small>&copy; Copyright 2025 HeBLE. Minden jog fenntartva!</small>
    </div>
</div>
