<div class="card text-center">
    <div class="card-body">
      <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <a routerLink="/about" routerLinkActive="true" class="buttonstyle">Rólunk</a>
        <img src="PROJECTBANNER.png" alt="Banner" class="img-fluid">
        <a routerLink="/contacts"  routerLinkActive="true" class="buttonstyle">Kapcsolat</a>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <small>&copy; Copyright 2025 HeBLE Minden jog fenntartva!</small>
    </div>
</div>
