.card {
  border: none;
  background-color: #3c3c44;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.card-body img {
  background-color: rgb(113, 121, 129);
  border-radius: 10px;
  max-height: 75px;
  margin: 20px;
}

.card-body img:hover {
  transform: translateY(-5px);
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  font-size: 22px;
  font-weight: 600;
  border-radius: 20px;
  border: 5px solid #91182b;
}

.buttonstyle {
  border: 4px solid #650707;
  background-color: #91182b;
  color: #fff;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 500;
  max-width: 200px;
  text-decoration: none;
}

.buttonstyle:hover {
  border: 4px solid #fff;
}
