<section class="sleeping">
    <div class="container">
        <img src="sleeping.jpg" class="customimg" alt="Kép egy alvó lányról">

        <h1 style="color: #91182b">Az alvás fontossága</h1>
        <h2>Mindennek az alapja, nem elhanyagolható az alvás és annak fontossága.</h2>

        <hr>

        <p><strong style="color: lightblue">Az alvás az életünk kulcsfontosságú része</strong>. Teljes értékű alvás nélkül a szervezetünk nem képes eléggé regenerálódni. Különösen a sportolók számára fontos, mert az edzés kifárasztja a testet és az izmoknak a tápanyagokon kívül időre is szükségünk van a megújuláshoz. </p>
        <p>Az alvás elengedhetetlen a megfelelő pszichés és testi működéshez. Az immunrendszer, a szív, az erek megfelelő müködéséhez. Ezenkívül lehetővé teszi a testünk gyógyulási és regenerálódási folyamatainak beindítását. Szükséges az agyi funkciók optimális működéséhez is, mint a memóra, a tanulás, a koncentrálás.</p>
        <p>Míg a <strong style="color: lightblue">felnőtteknek általában napi 6-8 alvásra van szükségünk. A fiataloknak ennél több alvásra van szükségük.</strong></p>
        
        <hr>

        <h3 style="color: #91182b">Alváshiány</h3>

        <p>Ha a fentebbiekre nem figyelünk és nem tartjuk be az ajánlott napi alvási óraszámot, akkor rengeteg negatív hatás léphet fel.</p>
        <p>Az <strong style="color: lightblue">alváshiány ronthatja a memóriát, a koncentráló képességet és rossz hangulathoz vezet, így csökken a produktivitás</strong>. Hosszútávon súlyos betegségek kialakulásához is vezethet, mint például szívbetegségek, magas vérnyomás, cukorbetegség.</p>

        <img src="moon.jpg" class="customimg" alt="Kép egy digitálisan rajzolt holdról">

        <hr>

        <h3 style="color: #91182b">A sikeres alvásért</h3>
        
        <p>Azonban nem csak mennyiségében, hanem minőségében is mérni kell az alvást. Hiába alszunk napi 6-8 órát, ha az alvás minőségében nem megfelelő.</p>
        <p><strong>Mit tehetünk ez ügyben? </strong> Vigyünk rendszert a napjainkba, igyekezzünk ugyabban az időben felkelni és le feküdni. Kerüljük a késő délután a különböző koffein tartalmú termékek fogyasztását, mint példuál a kávé. Ne nézzünk tv-t elalvás előtt és ne használjunk különböző okos eszközöket az elalvás előtt, mint például a laptop, a telefon.</p>
        
        <img src="sheepcounting.jpg" class="customimg" alt="Kép egy rajzolt holdról">

        <hr>

        <p>Reméljük hasznosnak találtad ezt a rövid cikkünket az alvásról és annak fontosságáról!</p>

         <!-- ingyenes tartalmakhoz navigálás -->
        <a routerLink="/freecontent" routerLinkActive="true" class="buttonstyle">Vissza az előző oldalra!</a>

        <!-- források megjelölése -->
        <p style="color: #91182b"><i>Felhasznált források:</i></p>

        <p>https://gymbeam.hu/blog/hogyan-lehet-javitani-az-alvas-minosegen-es-hogyan-befolyasolja-az-az-egeszseget-es-az-izomnovekedes/</p>
        <p>https://egeszsegvonal.gov.hu/maradj-egeszseges/egeszseges-alvasi-szokasok.html</p>
        <p>https://biotechusa.hu/blog/eletmod/az-alvas-jelentosege-regeneracios-szempontbol/</p>
        
    </div>
</section>