<section class="workout" style="background-color: #1f1f23; color: white; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="container">
        <img src="workoutplace.jpg" class="customimg" alt="Egy letisztult edzőteremről kép">

        <h1 style="color: #91182b">Csináljuk helyesen</h1>
        <h2>Sokan nem is tudják, hogy mennyire fontos a bemelegítés és a nyújtás.</h2>

        <hr>

        <p>A bemelegítés és a nyújtás az a két része az edzésnek, amelyekről valószínűleg unásig hallottad, mennyire fontosak. Ennél is valószínűbb, hogy ezeket hanyagoltad el leggyakrabban, különböző értelmetlen kifogásokkal.</p>

        <p>Ezek valóban <strong>nem opcionális, hanem kötelező részei az edésnek</strong>. Ugyanis fontos szerepet játszanak az izomépítésben, az izomláz csökkentésében és a sérülések elkerülésében.</p>

        <p> <i>Mi a különbség? </i> A nyújtás és bemelegítés közötti különbség a céljukban rejlik. A nyújtás célja a rugalmasság és az ízületek tartományának növelése. Bemelegítéskor azonban fontos növelni a testhőmérsékletet és az izmok véráramlását. Általában mindkét technikát edzés előtt hajtják végre, de a nyújtást edzés után is végezhetjük a levezetéssel együtt. </p>

        <hr>

        <h3 style="color: #91182b">Bemelegítés</h3>

        <p>Bemelegíteni tehát muszáj, mindenféle testmozgás előtt, ha tél van, ha nyár. A bemelegítésnek rengeteg közismert előnye van: revitalizálja a szív- és érrendszert a testhőmérséklet és a véráram megnövelésével az izmokba. Illetve növeli a mozgástartományt is és ezáltal csökkenti a sérülések kockázatát edzés közben.</p>

        <p>A bemelegítésre szánt időnek legalább 5-10 percnek kell lennie. Nem egy nagy ördöngősség. Mindenki már kis korában megtanulja, hogyan kell bemelegíteni. <strong>Bokakörzés, karkörzés, vállkörzés, csuklókörzés, térdkörzés, fejkörzés, csípőkörzés</strong>, ezekkel nagyon könnyedán és jól be tudjuk melegíteni a testünk összes ízületét.</p>

        <img src="warmup.jpg" class="customimg" alt="Kép a bemelegítésről">

        <hr>

        <h3 style="color: #91182b">Nyújtás</h3>

        <p>Nyújtani jó. Nyújtani kell. Nyújtani érdemesa az izmok, ínszalagok és a csontélettan egészségének megőrzése érdekében mindenkinek aki sportol és azoknak is akik nem mozognak. Javítja a véráramlást, az oxigén áramlását, az izomösszehúzódásokat. </p>

        <p>Csökkentheted a másnapi izomlázadat, meggyorsíthatod a regenerációt, arról nem is beszélve, hogy számos sérülés ellen vértezed fel a nyújtás során rugalmassá, ellenállóbbá tett izmaidat.</p>

        <p><i>Hogyan nyújtsunk? </i> <strong>Egy izmot / izomcsoportot a legjobb 30mp - 1 percen keresztül nyújtott állapotban tartani mindenféle erőlködés, mozgatás nélkül.</strong> Különböző nyújtási gyakorlatok után érdemes utána olvasni, hogy mit hogyan kell elvégezni, levezetni.</p>
          
        <img src="stretching.jpg" class="customimg" alt="Kép a nyújtásról">

        <hr>

        <p>Reméljük hasznosnak találtad ezt a rövid cikkünket a bemelgítés és a nyújtás fontosságáról! </p>

        <a routerLink="/freecontent" routerLinkActive="true" class="buttonstyle">Vissza az előző oldalra!</a>

        <p style="color: #91182b"><i>Felhasznált források:</i></p>

        <p>https://www.intenset.hu/blog/nyujtas-es-bemelegites-gyakorlatok/</p>
        <p>https://shopbuilder.hu/bemelegito-gyakorlatok-a20526?srsltid=AfmBOoo3-wKKql8W-HZpk5wbwlCLjy0E_ipwBiCv6QyJTd2wJjTTBJXD</p>
        <p>https://gymbeam.hu/blog/nyujtas-bemelegites-es-levezetes-valoban-fontosak/</p>
        <p>https://shopbuilder.hu/nyujtas-a1724?srsltid=AfmBOooL9Kw4xl36-5XRBSfAZKg1nXCBz6n2OLpYN1dIhEPu229KvDxf</p>
    </div>
</section>