<img src="redlights.jpg" class="img-fluid" style="width: 100%; max-height: 55vh;" alt="LED fények">

<div class="changepassword" style="background-color: #1f1f23; color: white; min-height: 50vh; display: flex; flex-direction: column;">

    <div>
        <h1>Fiók helyreállítás</h1>
        <hr>
        <p>Elfelejtetted a jelszavad? Van egy jó hírünk! Az <strong>emailed és biztonsági jelszó</strong> segítségével <strong>visszaállíthatod a fiókod!</strong></p>
    </div>

    <div>
        <form class="form" #recoverForm="ngForm" (ngSubmit)="submitData()">
            <div class="form-group">
              <label class="form-label">Új jelszó</label><br>
              <input placeholder="Új jelszó" style="color: white" [(ngModel)]="userData.newPassword" name="newPassword" required type="password" class="form-field" autocomplete="off">
            </div>
            <button type="submit" class="buttonstyle" [disabled]="recoverForm.invalid">Elküldés</button>
          </form>
    </div>

    <div>
        <p>Véletlen tévedtél ide?</p>
        <a routerLink="/login" routerLinkActive="true" class="buttonstyle">Vissza a Bejelentkezéshez!</a>
    </div>
</div>
