<img src="redlights.jpg" class="img-fluid" style="width: 100%; max-height: 55vh;" alt="LED fények">

<div class="achievements">
   <div>
      <h1 style="color: #91182b">HeBLE Teljesítmények</h1>
      <hr>
      <p>Ezen az oldalon megnézheted, hogy milyen különböző teljesítmények oldhatóak fel az oldalunkon!</p>
      <span class="placeholder col-12 bg-danger" style="cursor: default;"></span>
  </div>

  <div class="row justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="bronzetrophy.png" class="card-img-top" alt="Bronz trófea">
        <div class="card-body">
          <h5 class="card-title">Fekvőtámasz mester</h5>
          <hr>
          <p class="card-text">Végezzen összesen 50 fekvőtámaszt!</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="bronzetrophy.png" class="card-img-top" alt="Bronz trófea">
        <div class="card-body">
          <h5 class="card-title">Húzódzkodás profi</h5>
          <hr>
          <p class="card-text">Végezzen összesen 20 Húzódzkodást!</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="bronzetrophy.png" class="card-img-top" alt="Bronz trófea">
        <div class="card-body">
          <h5 class="card-title">Guggolás specialista</h5>
          <hr>
          <p class="card-text">Végezzen összesen 100 guggolást!</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="bronzetrophy.png" class="card-img-top" alt="Bronz trófea">
        <div class="card-body">
          <h5 class="card-title">Újonc futó</h5>
          <hr>
          <p class="card-text">Fusson összesen 5 kilométert!</p>
        </div>
      </div>

  </div>

  <div class="row justify-content-center">

    <div class="card" style="width: 18rem;">
        <img src="silvertrophy.png" class="card-img-top" alt="Ezüst trófea">
        <div class="card-body">
          <h5 class="card-title">Sokoldalú sportoló</h5>
          <hr>
          <p class="card-text">Végezzen el 20 fekvőtámaszt, 10 Húzódzkodást, 30 guggolást és fusson 1 kilométert!</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="goldentrophy.png" class="card-img-top" alt="Arany trófea">
        <div class="card-body">
          <h5 class="card-title">Haladó sportoló</h5>
          <hr>
          <p class="card-text">Érjen el összesen 100 fekvőtámaszt, 50 Húzódzkodást, 150 guggolást és fusson 10 kilométert!</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="goldentrophy.png" class="card-img-top" alt="Arany trófea">
        <div class="card-body">
          <h5 class="card-title">Marathon futó</h5>
          <hr>
          <p class="card-text">Fusson összesen 42 kilométert!</p>
        </div>
      </div>

  </div>

  <div>
    <h2>Elért teljesítmények</h2>
    <hr>
    <p>Ha egy teljesítményt elértél akkor az itt fog megjelenni az alábbiakban...</p>
    <span class="placeholder col-12 bg-danger" style="cursor: default;"></span>
    <ul style="display: flex; justify-content: center; text-align: center; gap:10px; flex-wrap: wrap;">
      <li *ngFor="let achievement of achievements"><h4>Név:</h4> <br>{{achievement.Achievement.name}}  <hr> <h4>Leírás:</h4> <br> {{achievement.Achievement.description}}</li>
    </ul>
  </div>

</div>
