/* alap stílusbeállítások */
.userprofile {
  background-color: #1f1f23;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  font-size: 18px;
}

/* Bootstrap card stílusbeállításai */
.card {
  background-color: #3c3c44;
  color: #fff;
  margin: 10px;
}

/* Bootstrap accordion - a HeBLE jövője rész beállításai */
.accordion-item,
.accordion-button {
  background-color: #3c3c44;
  color: #fff;
  box-shadow: none;
}

.accordion-button:hover {
  box-shadow: 0 3px 0 #1f1f23;
}

.accordion-button::after {
  background-color: white;
}

.accordion,
.accordion-flush {
  width: 100%;
  max-width: 800px;
}
