<img src="redlights.jpg" class="img-fluid" style="width: 100%; max-height: 55vh;" alt="LED fények">

<div class="userprofile">
   <div>
      <h1 style="color: #91182b">HeBLE profil</h1>
      <hr>
      <p>Ezen az oldalon megtekintheted a profilod összes adatát! Kivéve azokat, amelyeket biztonsági okokból nem jelenítünk meg. Ilyen a jelszó és biztonsági jelszó.</p>
      <span class="placeholder col-12 bg-danger" style="cursor: default;"></span>
  </div>

  <div>
    <div class="card" style="width: 18rem;">
       <div class="card-body">
         <h5 class="card-title">Profil adatok</h5>
         <hr>
         <p class="card-text">Keresztnév:</p>
         <p class="card-text">Vezetéknév:</p>
         <p class="card-text">Email-cím:</p>
         <p class="card-text">Létrehozva:</p>
       </div>
     </div>
   </div>

</div>
