/* alap stílusbeállítások */
.userprofile {
  background-color: #1f1f23;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  font-size: 18px;
}

/* Bootstrap card stílusbeállításai */
.card {
  background-color: #3c3c44;
  color: #fff;
  margin: 10px;
}

/* az űrlap stílusbeállításai */
.form {
  max-width: 800px;
  margin: 20px;
  border: 4px solid #fff;
  border-radius: 20px;
  padding: 20px 50px;
  background-color: #3c3c44;
}

label {
  padding: 5px;
}

input {
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  color: #fff;
}

/* button, azaz gombok stílusbeállításai */
.buttonstyle {
  border: 4px solid #650707;
  background-color: #91182b;
  color: #fff;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 500;
  max-width: 200px;
  text-decoration: none;
}

.buttonstyle:hover {
  border: 4px solid #fff;
}

button:disabled {
  cursor: not-allowed;
  transition: none;
  background-color: rgb(113, 121, 129);
  border: 4px solid #fff;
}

/* Bootstrap accordion - a HeBLE jövője rész beállításai */
.accordion-item,
.accordion-button {
  background-color: #3c3c44;
  color: #fff;
  box-shadow: none;
}

.accordion-button:hover {
  box-shadow: 0 3px 0 #1f1f23;
}

.accordion-button::after {
  background-color: white;
}

.accordion,
.accordion-flush {
  width: 100%;
  max-width: 800px;
}
