<div class="coaching" style="background-color: #1f1f23; color: white; min-height: 100vh; display: flex; flex-direction: column;">
   <div>
      <img src="PROJECTBANNER.png" class="customimg" alt="Kép a HeBLE banneréről"><h1>Edzés</h1>
      <hr>
      <p>Próbáld még ki ma a HeBLE szórakoztató, újszerű és játékos megoldását az edzésre!</p>
      <p>Teljesítsd feladatokat, majd a feladatok elvégzése után gyűjtsd be a tapasztalatpontokat és lépj szintet!</p>
      <p>Érj el különböző teljesítményeket és jutalmakat!</p>
      <hr>
  </div>

  <div>
   
  </div>

</div>
